<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Music Player</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<style type="text/css">
			body {
				padding-top: 60px;
			}

			a {
				cursor: pointer;
			}

			.fa {
				margin-right: 10px;
			}
		</style>
		<script src="vue.min.js"></script>
	</head>

	<body>
		<!-- Wrap all page content here -->
		<div id="vapp">
			<!-- Fixed navbar -->
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" onclick="startNow()">Music Player</a>
					</div>
				</div>
			</div>
			<!-- Begin page content -->
			<div class="container">
				<ol class="breadcrumb" id="menu">
					<li v-for="(temp, index) of stack">
						<a @click="goBack(temp.level)" :class="{ active : index == stack.length - 1}">{{temp.fileName}}</a>
					</li>
				</ol>
				<div class="list-group" id="list">
					<a v-for="file of currentFolder.files" v-if="file.isDir" @click="openDirectory(file)" :class="{active : file.id == currentHoveredId}" class="list-group-item">
						<i v-show="file.isDir" class="fa fa-folder"></i>{{file.fileName}}</a>
					<a v-for="file of currentFolder.files" v-if="!file.isDir" :class="{active : file.id == currentHoveredId}" class="list-group-item" >
						<i v-show="!file.isDir" class="fa fa-music"></i>{{file.fileName}}</a>
				</div>
			</div>

			<!--Footer -->
			<div class="navbar navbar-fixed-bottom vcenter text-center" style="padding-top:10px" id="footer">
			</div>
		</div>

	</body>
	<script>
		var root;
		window.onload = function() {
		new Vue({
			el: '#vapp',
			data: {
				stack: [],
				currentHoveredId : 0
			},
			created() {
				this.stack.push(root);
			},
			computed: {
				currentFolder() {
					return this.stack[this.stack.length - 1];
				}
			},
			methods: {
				goBack(level) {
					var topItem = this.stack.pop();
					while (topItem.id != level) {
						topItem = this.stack.pop();
					}
					this.stack.push(topItem);
				},
				openDirectory(file) {
					this.stack.push(file);
				}

			}
		});
	};

		var root = {
			"isDir": true,
			"fileName": "My Music",
			"files": [{
				"isDir": true,
				"fileName": "Movies",
				"files": [{
					"isDir": false,
					"fileName": "1 - Kabhi Jo Baadal Barse - Jackpot - [SongsPk.CC].mp3",
					"filePath": "/d/My Documents/My Music/Movies/1 - Kabhi Jo Baadal Barse - Jackpot - [SongsPk.CC].mp3",
					"id": 2,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Aacha sila diya tune mere pyaar ka.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Aacha sila diya tune mere pyaar ka.mp3",
					"id": 3,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Aashiq Banaya Aapne Title Song.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Aashiq Banaya Aapne Title Song.mp3",
					"id": 4,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Agar Tum Mil Jao - Zeher.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Agar Tum Mil Jao - Zeher.mp3",
					"id": 5,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Akhiyon Ke Jharokon Se.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Akhiyon Ke Jharokon Se.mp3",
					"id": 6,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Baadshah.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Baadshah.mp3",
					"id": 7,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Baharo phool barsao.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Baharo phool barsao.mp3",
					"id": 8,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Ban Than Chali.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Ban Than Chali.mp3",
					"id": 9,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Banna Re Baagama.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Banna Re Baagama.mp3",
					"id": 10,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Bhula Denge Tumko - Humko Deewana Kar Gaye.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Bhula Denge Tumko - Humko Deewana Kar Gaye.mp3",
					"id": 11,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Border - To chalu.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Border - To chalu.mp3",
					"id": 12,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Bure Bure - Bluffmaster.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Bure Bure - Bluffmaster.mp3",
					"id": 13,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Chudi jo khanke haatho mein.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Chudi jo khanke haatho mein.mp3",
					"id": 14,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Dard Dilo Ke.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Dard Dilo Ke.mp3",
					"id": 15,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Desi Girl - Dostana.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Desi Girl - Dostana.mp3",
					"id": 16,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Dil Deewana Na Jaane.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Dil Deewana Na Jaane.mp3",
					"id": 17,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Dil To Bacha Hai ji - Ishqiya.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Dil To Bacha Hai ji - Ishqiya.mp3",
					"id": 18,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Dilli ki sardi.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Dilli ki sardi.mp3",
					"id": 19,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Mehbooba Mehbooba - Ajnabee.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Mehbooba Mehbooba - Ajnabee.mp3",
					"id": 20,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Mera geet amar kardo.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Mera geet amar kardo.mp3",
					"id": 21,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Mere Dholna - Bhul Bhulaiyaa.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Mere Dholna - Bhul Bhulaiyaa.mp3",
					"id": 22,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Mohra.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Mohra.mp3",
					"id": 23,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Mujhe Neend Na Aaye - Dil.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Mujhe Neend Na Aaye - Dil.mp3",
					"id": 24,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Muqabala-Muqabala-(Humse-Hai-Muqabala).mp3",
					"filePath": "/d/My Documents/My Music/Movies/Muqabala-Muqabala-(Humse-Hai-Muqabala).mp3",
					"id": 25,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Nadiya ke paar.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Nadiya ke paar.mp3",
					"id": 26,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Payaliya Hohoho.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Payaliya Hohoho.mp3",
					"id": 27,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Raaj 2 - Maahi.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Raaj 2 - Maahi.mp3",
					"id": 28,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Rang de rang de-Takshak.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Rang de rang de-Takshak.mp3",
					"id": 29,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Sau Dard Hai- Jaan-E-Maan.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Sau Dard Hai- Jaan-E-Maan.mp3",
					"id": 30,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Sawan Ko Aane Do.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Sawan Ko Aane Do.mp3",
					"id": 31,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Subha Hone Na De - Desi Boyz.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Subha Hone Na De - Desi Boyz.mp3",
					"id": 32,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Tere Liye - Prince.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Tere Liye - Prince.mp3",
					"id": 33,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Tu Meri Dost Hain.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Tu Meri Dost Hain.mp3",
					"id": 34,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Hai Meri Saanson mein mere piya.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Hai Meri Saanson mein mere piya.mp3",
					"id": 35,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Hosh Walon Ko Khabar Kya.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Hosh Walon Ko Khabar Kya.mp3",
					"id": 36,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Jaane Kyun - Dostana.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Jaane Kyun - Dostana.mp3",
					"id": 37,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Jane kaha Gaye wo din.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Jane kaha Gaye wo din.mp3",
					"id": 38,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Jhanjhariya.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Jhanjhariya.mp3",
					"id": 39,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "kahi depp jale kahi dil - Bees saal baad.mp3",
					"filePath": "/d/My Documents/My Music/Movies/kahi depp jale kahi dil - Bees saal baad.mp3",
					"id": 40,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Kajrare Kajrare.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Kajrare Kajrare.mp3",
					"id": 41,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Karle Baby Dance Vance - Hello.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Karle Baby Dance Vance - Hello.mp3",
					"id": 42,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Khabar Nhi - Dostana.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Khabar Nhi - Dostana.mp3",
					"id": 43,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Kiya Kiya - Welcome.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Kiya Kiya - Welcome.mp3",
					"id": 44,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Koyal Si Teri Boli - Beta.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Koyal Si Teri Boli - Beta.mp3",
					"id": 45,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Krishna cottage.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Krishna cottage.mp3",
					"id": 46,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Kuch Kam - Dostana.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Kuch Kam - Dostana.mp3",
					"id": 47,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Kuch_Is_Tarah_Teri_Palkein_Meri_Palkon_Se_Mila_De_(lovely)_-_Own_Editing.flv.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Kuch_Is_Tarah_Teri_Palkein_Meri_Palkon_Se_Mila_De_(lovely)_-_Own_Editing.flv.mp3",
					"id": 48,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "kyun aaj kal neend kam khwaab jyada hai.mp3",
					"filePath": "/d/My Documents/My Music/Movies/kyun aaj kal neend kam khwaab jyada hai.mp3",
					"id": 49,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Twist - Love Aaj Kal.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Twist - Love Aaj Kal.mp3",
					"id": 50,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Ud Ud Ud Ud Jaye.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Ud Ud Ud Ud Jaye.mp3",
					"id": 51,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Yaariyan - Sunny Sunny.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Yaariyan - Sunny Sunny.mp3",
					"id": 52,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Yeh Dil Deewana - Pardes.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Yeh Dil Deewana - Pardes.mp3",
					"id": 53,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Dilliwaali Girlfriend - Ye Jawani Hai Deewani",
					"filePath": "/d/My Documents/My Music/Movies/Dilliwaali Girlfriend - Ye Jawani Hai Deewani",
					"id": 54,
					"level": 2
				}, {
					"isDir": true,
					"fileName": "London Dreams",
					"files": [{
						"isDir": false,
						"fileName": "AlbumArtSmall.jpg",
						"filePath": "/d/My Documents/My Music/Movies/London Dreams/AlbumArtSmall.jpg",
						"id": 56,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Folder.jpg",
						"filePath": "/d/My Documents/My Music/Movies/London Dreams/Folder.jpg",
						"id": 57,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "London Dreams - Back.jpg",
						"filePath": "/d/My Documents/My Music/Movies/London Dreams/London Dreams - Back.jpg",
						"id": 58,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "London Dreams - Front.jpg",
						"filePath": "/d/My Documents/My Music/Movies/London Dreams/London Dreams - Front.jpg",
						"id": 59,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "[Songs.PK] London Dreams - 01 - Barson Yaaron.mp3",
						"filePath": "/d/My Documents/My Music/Movies/London Dreams/[Songs.PK] London Dreams - 01 - Barson Yaaron.mp3",
						"id": 60,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "[Songs.PK] London Dreams - 02 - Man Ko Ati Bhavey.mp3",
						"filePath": "/d/My Documents/My Music/Movies/London Dreams/[Songs.PK] London Dreams - 02 - Man Ko Ati Bhavey.mp3",
						"id": 61,
						"level": 3
					}],
					"id": 55,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Tum Hi Ho Meri - Aashiqui.mp3",
					"filePath": "/d/My Documents/My Music/Movies/Tum Hi Ho Meri - Aashiqui.mp3",
					"id": 62,
					"level": 2
				}],
				"id": 1,
				"level": 1
			}, {
				"isDir": true,
				"fileName": "Album",
				"files": [{
					"isDir": false,
					"fileName": "Aankhon Mein Tera Hi Chehra.mp3",
					"filePath": "/d/My Documents/My Music/Album/Aankhon Mein Tera Hi Chehra.mp3",
					"id": 64,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Amplifier.mp3",
					"filePath": "/d/My Documents/My Music/Album/Amplifier.mp3",
					"id": 65,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Bewafa - Imran Khan.mp3",
					"filePath": "/d/My Documents/My Music/Album/Bewafa - Imran Khan.mp3",
					"id": 66,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Jogi Hum To Lut Gaye Tere Pyaar Mein.mp3",
					"filePath": "/d/My Documents/My Music/Album/Jogi Hum To Lut Gaye Tere Pyaar Mein.mp3",
					"id": 67,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Koi Khwab Mein Roz Aata Hai - Alka Yagni.mp3",
					"filePath": "/d/My Documents/My Music/Album/Koi Khwab Mein Roz Aata Hai - Alka Yagni.mp3",
					"id": 68,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Maine Payal Hai Chankai.mp3",
					"filePath": "/d/My Documents/My Music/Album/Maine Payal Hai Chankai.mp3",
					"id": 69,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Man Mera.mp3",
					"filePath": "/d/My Documents/My Music/Album/Man Mera.mp3",
					"id": 70,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Chilam Tambaku Ko Dabba.mp3",
					"filePath": "/d/My Documents/My Music/Album/Chilam Tambaku Ko Dabba.mp3",
					"id": 71,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Chupke Chupke  Sakhion Se Woh.mp3",
					"filePath": "/d/My Documents/My Music/Album/Chupke Chupke  Sakhion Se Woh.mp3",
					"id": 72,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Deewane To Deewane Hai - Shweta Shetty.mp3",
					"filePath": "/d/My Documents/My Music/Album/Deewane To Deewane Hai - Shweta Shetty.mp3",
					"id": 73,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Dholna - Arbaaz Khan, Malaika Arora.mp3",
					"filePath": "/d/My Documents/My Music/Album/Dholna - Arbaaz Khan, Malaika Arora.mp3",
					"id": 74,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Pher Milade Ram - Naya Lifafa.mp3",
					"filePath": "/d/My Documents/My Music/Album/Pher Milade Ram - Naya Lifafa.mp3",
					"id": 75,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Sawan Mein Lag Gayi Aag - Mika Singh.mp3",
					"filePath": "/d/My Documents/My Music/Album/Sawan Mein Lag Gayi Aag - Mika Singh.mp3",
					"id": 76,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Taare Gin Gin - Sukhbir.mp3",
					"filePath": "/d/My Documents/My Music/Album/Taare Gin Gin - Sukhbir.mp3",
					"id": 77,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Tera Chehra Jab Nazar  - Adnan Sami.mp3",
					"filePath": "/d/My Documents/My Music/Album/Tera Chehra Jab Nazar  - Adnan Sami.mp3",
					"id": 78,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "The Lost Life Song - A-Kay.mp3",
					"filePath": "/d/My Documents/My Music/Album/The Lost Life Song - A-Kay.mp3",
					"id": 79,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Tum to thehre pardesi.mp3",
					"filePath": "/d/My Documents/My Music/Album/Tum to thehre pardesi.mp3",
					"id": 80,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Bombay Vikings-woh chali.mp3",
					"filePath": "/d/My Documents/My Music/Album/Bombay Vikings-woh chali.mp3",
					"id": 81,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Hat Ja Tau Pache Ne - Naya Lifafa.mp3",
					"filePath": "/d/My Documents/My Music/Album/Hat Ja Tau Pache Ne - Naya Lifafa.mp3",
					"id": 82,
					"level": 2
				}],
				"id": 63,
				"level": 1
			}, {
				"isDir": true,
				"fileName": "English",
				"files": [{
					"isDir": false,
					"fileName": "Katy Perry - Firework.mp3",
					"filePath": "/d/My Documents/My Music/English/Katy Perry - Firework.mp3",
					"id": 84,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Akon - Smack That.mp3",
					"filePath": "/d/My Documents/My Music/English/Akon - Smack That.mp3",
					"id": 85,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Barbie Girl.mp3",
					"filePath": "/d/My Documents/My Music/English/Barbie Girl.mp3",
					"id": 86,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Carly Rae Jepsen - Call Me Maybe.mp3",
					"filePath": "/d/My Documents/My Music/English/Carly Rae Jepsen - Call Me Maybe.mp3",
					"id": 87,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Charli XCX-Red Balloon.mp3",
					"filePath": "/d/My Documents/My Music/English/Charli XCX-Red Balloon.mp3",
					"id": 88,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Enrique Tonight I am loving you.mp3",
					"filePath": "/d/My Documents/My Music/English/Enrique Tonight I am loving you.mp3",
					"id": 89,
					"level": 2
				}, {
					"isDir": true,
					"fileName": "Kary Pete - Teenage Dreams",
					"files": [{
						"isDir": false,
						"fileName": "01.Teenage Dream.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/01.Teenage Dream.flac",
						"id": 91,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "02.Last Friday Night (T.G.I.F.).flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/02.Last Friday Night (T.G.I.F.).flac",
						"id": 92,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "03.California Gurls (Feat. Snoop Dogg).flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/03.California Gurls (Feat. Snoop Dogg).flac",
						"id": 93,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "04.Firework.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/04.Firework.flac",
						"id": 94,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "05.Peacock.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/05.Peacock.flac",
						"id": 95,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "06.Circle The Drain.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/06.Circle The Drain.flac",
						"id": 96,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "07.The One That Got Away.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/07.The One That Got Away.flac",
						"id": 97,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "08.E.T..flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/08.E.T..flac",
						"id": 98,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "09.Who Am I Living For.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/09.Who Am I Living For.flac",
						"id": 99,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "10.Pearl.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/10.Pearl.flac",
						"id": 100,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "11.Hummingbird Heartbeat.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/11.Hummingbird Heartbeat.flac",
						"id": 101,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "12.Not Like The Movies.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/12.Not Like The Movies.flac",
						"id": 102,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "13.The One That Got Away (Acoustic).flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/13.The One That Got Away (Acoustic).flac",
						"id": 103,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "15.Wide Awake.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/15.Wide Awake.flac",
						"id": 104,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "16.Dressin' Up.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/16.Dressin' Up.flac",
						"id": 105,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "17.E.T. (Feat. Kanye West).flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/17.E.T. (Feat. Kanye West).flac",
						"id": 106,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "18.Last Friday Night (T.G.I.F.) (Feat. Missy Elliott).flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/18.Last Friday Night (T.G.I.F.) (Feat. Missy Elliott).flac",
						"id": 107,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "19.Tommie Sunshine's Megasix Smash-Up.flac",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/19.Tommie Sunshine's Megasix Smash-Up.flac",
						"id": 108,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "front.jpg",
						"filePath": "/d/My Documents/My Music/English/Kary Pete - Teenage Dreams/front.jpg",
						"id": 109,
						"level": 3
					}],
					"id": 90,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Katy Perry - E.T. ft. Kanye West.mp3",
					"filePath": "/d/My Documents/My Music/English/Katy Perry - E.T. ft. Kanye West.mp3",
					"id": 110,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Ke$ha - TiK ToK.mp3",
					"filePath": "/d/My Documents/My Music/English/Ke$ha - TiK ToK.mp3",
					"id": 111,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Lady Gaga - Bad Romance.mp3",
					"filePath": "/d/My Documents/My Music/English/Lady Gaga - Bad Romance.mp3",
					"id": 112,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Lenka - Everything At Once.mp3",
					"filePath": "/d/My Documents/My Music/English/Lenka - Everything At Once.mp3",
					"id": 113,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Miley Cyrus - Wrecking Ball.mp3",
					"filePath": "/d/My Documents/My Music/English/Miley Cyrus - Wrecking Ball.mp3",
					"id": 114,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Miley Cyrus We Can't Stop.mp3",
					"filePath": "/d/My Documents/My Music/English/Miley Cyrus We Can't Stop.mp3",
					"id": 115,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Put It Down On Me.mp3",
					"filePath": "/d/My Documents/My Music/English/Put It Down On Me.mp3",
					"id": 116,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Ricky Martin - Livin la vida loca.mp3",
					"filePath": "/d/My Documents/My Music/English/Ricky Martin - Livin la vida loca.mp3",
					"id": 117,
					"level": 2
				}, {
					"isDir": true,
					"fileName": "Selena Gomez",
					"files": [{
						"isDir": false,
						"fileName": "Selena Gomez  The Scene - Magic.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez/Selena Gomez  The Scene - Magic.mp3",
						"id": 119,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez & The Scene - Hit The Lights.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez/Selena Gomez & The Scene - Hit The Lights.mp3",
						"id": 120,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez & The Scene - Who Says [mp3clan.com].mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez/Selena Gomez & The Scene - Who Says [mp3clan.com].mp3",
						"id": 121,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Everything Is Not As It Seems (Series Theme Song).mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez/Selena Gomez - Everything Is Not As It Seems (Series Theme Song).mp3",
						"id": 122,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Slow Down.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez/Selena Gomez - Slow Down.mp3",
						"id": 123,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez ft. The Scene - A Year Without Rain.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez/Selena Gomez ft. The Scene - A Year Without Rain.mp3",
						"id": 124,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez Shake Up.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez/Selena Gomez Shake Up.mp3",
						"id": 125,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez The Scene Love You Like A Love Song.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez/Selena Gomez The Scene Love You Like A Love Song.mp3",
						"id": 126,
						"level": 3
					}],
					"id": 118,
					"level": 2
				}, {
					"isDir": true,
					"fileName": "Selena Gomez - Star Dance",
					"files": [{
						"isDir": false,
						"fileName": "Selena Gomez - B.E.A.T.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - B.E.A.T.mp3",
						"id": 128,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Birthday.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - Birthday.mp3",
						"id": 129,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Come & Get It.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - Come & Get It.mp3",
						"id": 130,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Forget Forever.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - Forget Forever.mp3",
						"id": 131,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Like a Champion.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - Like a Champion.mp3",
						"id": 132,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Love Will Remember.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - Love Will Remember.mp3",
						"id": 133,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Music Feels Better.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - Music Feels Better.mp3",
						"id": 134,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Save the Day.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - Save the Day.mp3",
						"id": 135,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Slow Down.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - Slow Down.mp3",
						"id": 136,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Stars Dance.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - Stars Dance.mp3",
						"id": 137,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Undercover.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - Undercover.mp3",
						"id": 138,
						"level": 3
					}, {
						"isDir": false,
						"fileName": "Selena Gomez - Write Your Name.mp3",
						"filePath": "/d/My Documents/My Music/English/Selena Gomez - Star Dance/Selena Gomez - Write Your Name.mp3",
						"id": 139,
						"level": 3
					}],
					"id": 127,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Titanic.mp3",
					"filePath": "/d/My Documents/My Music/English/Titanic.mp3",
					"id": 140,
					"level": 2
				}],
				"id": 83,
				"level": 1
			}, {
				"isDir": true,
				"fileName": "New",
				"files": [{
					"isDir": false,
					"fileName": "A+Sky+Full+of+Stars_2701336.mp3",
					"filePath": "/d/My Documents/My Music/New/A+Sky+Full+of+Stars_2701336.mp3",
					"id": 142,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Animals_2606292.mp3",
					"filePath": "/d/My Documents/My Music/New/Animals_2606292.mp3",
					"id": 143,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Bailando+%28English+Version%29_2515137.mp3",
					"filePath": "/d/My Documents/My Music/New/Bailando+%28English+Version%29_2515137.mp3",
					"id": 144,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Bang+Bang_2689995.mp3",
					"filePath": "/d/My Documents/My Music/New/Bang+Bang_2689995.mp3",
					"id": 145,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Calvin-Harris-feat.-Ellie-Goulding-Outside-Audio-ft.-Ellie-Goulding.mp3",
					"filePath": "/d/My Documents/My Music/New/Calvin-Harris-feat.-Ellie-Goulding-Outside-Audio-ft.-Ellie-Goulding.mp3",
					"id": 146,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Love+Me+Harder_2605064.mp3",
					"filePath": "/d/My Documents/My Music/New/Love+Me+Harder_2605064.mp3",
					"id": 147,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Maps_2606291.mp3",
					"filePath": "/d/My Documents/My Music/New/Maps_2606291.mp3",
					"id": 148,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Rather+Be_2701342.mp3",
					"filePath": "/d/My Documents/My Music/New/Rather+Be_2701342.mp3",
					"id": 149,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Uptown+Funk_3749787.mp3",
					"filePath": "/d/My Documents/My Music/New/Uptown+Funk_3749787.mp3",
					"id": 150,
					"level": 2
				}],
				"id": 141,
				"level": 1
			}, {
				"isDir": true,
				"fileName": "Rajasthani",
				"files": [{
					"isDir": false,
					"fileName": "Bajuda re Loom.mp3",
					"filePath": "/d/My Documents/My Music/Rajasthani/Bajuda re Loom.mp3",
					"id": 152,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Balam+Choto+So_2413399.mp3",
					"filePath": "/d/My Documents/My Music/Rajasthani/Balam+Choto+So_2413399.mp3",
					"id": 153,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Banna+Re+Bago+Me+Jula_2413394.mp3",
					"filePath": "/d/My Documents/My Music/Rajasthani/Banna+Re+Bago+Me+Jula_2413394.mp3",
					"id": 154,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Chand+Chadyo+Gignar_2413397.mp3",
					"filePath": "/d/My Documents/My Music/Rajasthani/Chand+Chadyo+Gignar_2413397.mp3",
					"id": 155,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Chirmi.mp3",
					"filePath": "/d/My Documents/My Music/Rajasthani/Chirmi.mp3",
					"id": 156,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Ghoomar.mp3",
					"filePath": "/d/My Documents/My Music/Rajasthani/Ghoomar.mp3",
					"id": 157,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Ghumerdar Lanjo.mp3",
					"filePath": "/d/My Documents/My Music/Rajasthani/Ghumerdar Lanjo.mp3",
					"id": 158,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Naina Ra Lobhi.mp3",
					"filePath": "/d/My Documents/My Music/Rajasthani/Naina Ra Lobhi.mp3",
					"id": 159,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Pallo Latke.mp3",
					"filePath": "/d/My Documents/My Music/Rajasthani/Pallo Latke.mp3",
					"id": 160,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Piu Piu Bole Piya Moryo.mp3",
					"filePath": "/d/My Documents/My Music/Rajasthani/Piu Piu Bole Piya Moryo.mp3",
					"id": 161,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Unco+Galyo+Palno_2413400.mp3",
					"filePath": "/d/My Documents/My Music/Rajasthani/Unco+Galyo+Palno_2413400.mp3",
					"id": 162,
					"level": 2
				}],
				"id": 151,
				"level": 1
			}, {
				"isDir": true,
				"fileName": "Shyam",
				"files": [{
					"isDir": false,
					"fileName": "Raat Sham Sapne Mien Aaye.mp3",
					"filePath": "/d/My Documents/My Music/Shyam/Raat Sham Sapne Mien Aaye.mp3",
					"id": 164,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Shyam chudi Bhechne Aya.mp3",
					"filePath": "/d/My Documents/My Music/Shyam/Shyam chudi Bhechne Aya.mp3",
					"id": 165,
					"level": 2
				}, {
					"isDir": false,
					"fileName": "Shyama aan baso vrindavan main.mp3",
					"filePath": "/d/My Documents/My Music/Shyam/Shyama aan baso vrindavan main.mp3",
					"id": 166,
					"level": 2
				}],
				"id": 163,
				"level": 1
			}],
			"id": 0,
			"level": 0
		};
	</script>

</html>